{include file="public/header"/}
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>品控统计</legend>
    </fieldset>
    <div class="layui-form-item">
        <a href="{:url('index/processing/statistics')}" style="margin-left: 75%;" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">工作指数</a>
        <a href="{:url('index/processing/Statistics_index')}" style="border: 1px solid #1fd4e6;" class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">统计指数</a>
    </div>

    <div class="layui-form">
        <table class="layui-table">
            <thead>
            <tr>
                <th>区域</th>
                <th>品控次数</th>
                <th>检查总量</th>
                <th>品控率</th>
            </tr>
            </thead>
            <tbody>
            {volist name="result" id="list"}
            <tr>
                <th>{$list['name']}</th>
                <th>{$list['num']}</th>
                <th>{$list['sum']}</th>
                <th>
                    {if condition="$list['sum'] == 0"}
                    ---
                    {else /}
                    {$list['num']/$list['sum']*100|round=###,2}%
                    {/if}
                </th>
            </tr>

            {/volist}
            </tbody>
        </table>
    </div>
</div>
{include file="public/footer"/}