{include file="public/header"/}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>豆豆名人堂</legend>
        </fieldset>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">个人照片</label>
                <div class="layui-upload" style="margin-left:100px">
                    <button type="button" class="layui-btn" id="test2">上传照片</button><span style="color:red;padding-left:20px">请上传图片尺寸为宽450高350</span>
                    <input type="hidden" name="people_photo" id="id_pic1" value="">
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo2">
                        <p id="demoText1"></p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="people_name"  autocomplete="off" placeholder="请输入姓名" class="layui-input" style="width:192px" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名次</label>
                <div class="layui-input-inline">
                    <select name="ranking"   lay-verify="required">
                        <option value="">请选择</option>
                        <option value="1">第一名</option>
                        <option value="2">第二名</option>
                        <option value="3">第三名</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分公司名称</label>
                <div class="layui-input-inline">
                    <select name="branch_id" lay-filter="aihao" id="usernames" lay-verify="required">
                        <option value="">请选择</option>
                        {volist name="branch" id="vo"}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">部门名称</label>
                <div class="layui-input-inline">
                    <select name="department" lay-filter="aihao"  lay-verify="required">
                        <option value="">请选择</option>
                        <option value="新签">新签</option>
                        <option value="续签">续签</option>
                        <option value="网销宝">网销宝</option>
                        <option value="系外">系外</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人业绩</label>
                <div class="layui-input-block">
                    <textarea  name="peopl_performance" value="" class="layui-textarea" lay-verify="required"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人座右铭</label>
                <div class="layui-input-block">
                    <textarea  name="peopl_motto" value="" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="people_time" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="addde">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/area.js" type="text/javascript"></script>
<script src="/static/js/select.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('form', function(){
        var form = layui.form;
        form.on('select(c_type)',function(data){
            var fid=data.value;
            var proHtml = '';
            if(fid==1){
                proHtml += '<option value="1">转介绍</option>';
                proHtml += '<option value="2">公海挑入</option>';
                proHtml += '<option value="3">纯新录入</option>';
                $('#mmp').show();
                $('#date1').css('display','none');
                $('#c_type1').html(proHtml);
            }else{
                $('#date1').css('display','block');
                $('#mmp').css('display','none');
            }

            form.render();
        })
    })
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(de)', function(data){
            $.ajax({
                url:"{:url('newcustomers/add_do')}",
                type:"POST",
                dataType:"json",
                data:data.field,
                success:function(data){
                    if(data.code==200){
                        layer.msg("添加成功！",{icon:1,time:1600},function(){
                            window.location.href="{:url('newcustomers/lists')}";
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time:1600});
                    }
                },
                error:function(jqXHR){
                    layer.msg("发生错误："+ jqXHR.status);
                }
            });
            return false;
        });
    });
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#date',
            // value:new Date()
        });
        laydate.render({
            elem: '#date1',
            // value:new Date()
        });
        laydate.render({
            elem: '#date3'
            ,type: 'month'
        })
    });
</script>
<script type="text/javascript">
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: "{:url('index/upload')}"
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $("#id_pic1").val(res.url);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText1');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload1').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>


<script type="text/javascript">
    layui.use('element', function(){
        var element = layui.element;
    });
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(addde)', function(data){
            $.ajax({
                url:"{:url('Honors/best')}",
                type:"POST",
                dataType:"json",
                data:data.field,
                success:function(data){
                    if(data.code==200){
                        layer.msg("添加成功！",{icon:1,time:1600},function(){
                            window.location.href="{:url('index/index')}";
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time:1600});
                    }
                },
                error:function(jqXHR){
                    layer.msg("发生错误："+ jqXHR.status);
                }
            });
            return false;
        });
    });
</script>

{include file="public/footer"/}