{include file="public/header"/}
<style type="text/css">
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
.pagination .active{background-color: #dd1a20;color: #fff;}
.pagination .disabled{color:#aaa;}
</style>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">         
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>服务完结率</legend>
</fieldset>
 <form class="layui-form" action="{:url('Statistics/personalEnd')}" method="post" id="custmers1">
  <div class="layui-form-item" style="float: left;">
    {if $rank eq 5}
     <div class="layui-inline">
      <div class="layui-input-inline">
        <select name="industry1" id="industry1">
          <option value="{$Think.session.user.branch_id}">{$Think.session.user.branch_id|branch}</option>
        </select>
      </div>
       <div class="layui-input-inline">
      <select name="industry2" id="industry2">
        <option value="{$Think.session.user.id}">{$Think.session.user.username}</option>
      </select>
    </div>
    </div>
    {elseif $rank eq 2 or $rank eq 3/}
      <div class="layui-inline">
      <div class="layui-input-inline">
        <select name="industry1" id="industry1">
          <option value="{$Think.session.user.branch_id}">{$Think.session.user.branch_id|branch}</option>
        </select>
      </div>
       <div class="layui-input-inline">
      <select name="industry2" id="industry2">
        {volist name="users" id="list"}
        <option value="{$list.id}">{$list.username}</option>
        {/volist}
      </select>
    </div>
    </div>
    {else/}
     <div class="layui-inline">
      <div class="layui-input-inline">
        <select name="industry1" id="industry1"  lay-filter="industry1">
          <option value="0">选择公司</option>
          {volist name="company" id="list"}
          <option value="{$list.id}">{$list.name}</option>
          {/volist}
        </select>
      </div>
       <div class="layui-input-inline">
      <select name="industry2" id="industry2" lay-filter="industry2">
        <option value=""></option>
      </select>
    </div>
    </div>
    {/if}
    <div class="layui-inline">
      <div class="layui-input-inline">
        <!-- <input type="text" name="date" id="date" value="{$date}" lay-verify="date" placeholder="yyyy-MM" autocomplete="off" class="layui-input"> -->
        <input type="text" name="date" id="date" lay-verify="date" value="{$date}" placeholder="yyyy-MM" autocomplete="off" class="layui-input">
        <!-- <input type="date" name="" value="{$date}"> -->
      </div>
    </div>
  </div> 
   <button class="layui-btn" lay-submit="" id="searchBtn" onclick="search1()" data-type="getInfo" style="float: left;">搜索</button>
  </form>
  <form action="{:url('Statistics/export')}" method="post">
    <input type="hidden" name="industry1" class="industry1" value="{$bid}">
    <input type="hidden" name="date" class="date" value="{$date}">
    <input type="hidden" name="industry2" class="industry2" value="{$job_num}">
    <button class="layui-btn export" lay-submit="" id="searchBtn"  data-type="getInfo" style="float: left;margin-left: 40px;">导出</button>
  </form>
  
<div class="layui-form">
  <table class="layui-table">
    <thead>
      <tr>
        <th>员工工号</th>
        <th>员工姓名</th>
        <th>所属分公司</th>
        <th>规定服务</th>
        <th>实际完成</th>
        <th>完成率</th>
        <th>可选服务</th>
        <th>实际完成</th>
        <th>完成率</th>
      </tr> 
    </thead>
    <tbody>
      {volist name="lists" id="vo"}
      <tr>
        <td>{$vo['job_num']}</td>
        <td>{$vo['username']}</td>
        <td>{$vo['branch_id']|branch}</td>
        <td>{if $vo['p_num']}{$vo['p_num']}项{else/}--{/if}</td>
        <td>{if $vo['p_nums']}{$vo['p_nums']}项{else/}--{/if}</td>
        <td>{if $vo['p_num']}{$vo['p_nums']/$vo['p_num']*100|round=2}%{else/}--{/if}</td>
        <td>{if $vo['o_num']}{$vo['o_num']}项{else/}--{/if}</td>
        <td>{if $vo['o_nums']}{$vo['o_nums']}项{else/}--{/if}</td>
        <td>{if $vo['o_num']}{$vo['o_nums']/$vo['o_num']*100|round=2}%{else/}--{/if}</td>
      </tr>
      {/volist}
    </tbody>
  </table>
</div>
<img alt="" style="display:none" id="displayimg" src="" />
</body></div>
  </div>

<script type="text/javascript">
  function search1() {
    var form=$('#custmers1')
    form.submit();
  }
</script>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  //日期
  laydate.render({
    elem: '#date',
    type: 'month',
    value:new Date()
  });
  // laydate.render({
  //   elem: '#date1'
  // });
});
</script>
<script type="text/javascript">
    layui.use('form', function(){
    var form = layui.form;
      form.on('select(industry1)',function(data){
                    var fid=data.value;
                    console.log(fid);
                    $.ajax({
                        url: "{:url('Statistics/userLists')}",//请求地址
                        type: "POST",//请求方式
                        dataType: "JSON",//返回数据类型
                        data: {fid:fid},//发送的参数
                        success:function(data){
                            var re=data.data;
                            // console.log(data);
                            $('#industry2 option').hide();
                            var proHtml = '';
                            proHtml += "<option value='0'>请选择</option>"
                            for(var i=0;i<data.data.length;i++){
                              proHtml += '<option value="'+re[i].id+'">'+re[i].username+'</option>';
                            }
                            $('#industry2').html(proHtml);
                            form.render();  

                        },
                        error:function(){
                            //失败执行的方法
                            alert("error");
                        }
                    })
 
             })
    })
  </script>
{include file="public/footer"/}