{include file="public/header"/}
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>品控问题管理</legend>
    </fieldset>
    <a href="{:url('index/productcontrol/problemadd')}" style="margin-left: 80%;" class="layui-btn layui-btn-normal layui-btn-radius">添加问题</a>
    <a href="{:url('index/productcontrol/index')}" class="layui-btn layui-btn-normal layui-btn-radius">返回工作台</a>
    <div class="layui-form">
        <table class="layui-table">
            <thead>
            <tr>
                <th>id</th>
                <th>品控问题</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="result" id="list"}
            <tr>
                <th>{$list['id']}</th>
                <th>{$list['problem']}</th>

                <th>
                    <a href="{:url('index/productcontrol/edit')}?id={$list['id']}" type="button" class="layui-btn layui-btn-normal click_pop">修改</a>
                </th>
            </tr>

            {/volist}
            </tbody>
        </table>
    </div>
</div>
{include file="public/footer"/}