{include file="public/header"/}
<style type="text/css">
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
    .pagination .active{background-color: #dd1a20;color: #fff;}
    .pagination .disabled{color:#aaa;}
</style>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>统计开通列表</legend>
        </fieldset>
        <form action="{:url('count/getopens')}" method="get" id="custmers">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date"  value=""  placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <button class="layui-btn" lay-submit="" id="searchBtn" onclick="submitf()" data-type="getInfo">搜索</button>
        </form>
        <div style="margin: 10px;float: right;">
            <a class="layui-btn layui-btn-normal" href="{:url('index/count/single')}">查看到单量</a>
        </div>
        <div style="margin: 10px;float: right;">
            <a class="layui-btn layui-btn-normal" href="{:url('index/count/getopens')}">查看开通量</a>
        </div>
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                <tr style="text-align:center;">
                    <td>员工编号</td>
                    <td>员工姓名</td>
                    <td>所属公司</td>
                    <td>阿里订单</td>
                    <td>时间</td>
                </tr>
                </thead>
                <tbody>
                {volist name="data['data']" id="vo"}
                <tr style="text-align:center;">
                    <td>{$vo.job_num}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.aliordernum}</td>
                    <td>{:date('Y-m-d',$vo['totime'])}</td>
                </tr>
                {/volist}
                <tr style="text-align:center;color:#ff1227">
                    <td colspan="3">合计当天开通数量</td>
                    <td colspan="2">{$data.getsum}</td>
                </tr>
                </tbody>
            </table>
            {$data['page']}
        </div>
        <img alt="" style="display:none" id="displayimg" src=""/>
        </body>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date',
        });
        // laydate.render({
        //   elem: '#date1'
        // });
    });
</script>

</script>
{include file="public/footer"/}